<div class="sidebar">

  <div class="logo">
    <h2>SmartPOS360</h2>
  </div>

  <nav>

    <a routerLink="/dashboard" routerLinkActive="active">
      Dashboard
    </a>

    <a routerLink="/pos" routerLinkActive="active">
      POS
    </a>

    <a routerLink="/inventory" routerLinkActive="active">
      Inventory
    </a>

    <a routerLink="/customers" routerLinkActive="active">
      Customers
    </a>

    <a routerLink="/reports" routerLinkActive="active">
      Reports
    </a>

    <a routerLink="/settings" routerLinkActive="active">
      Settings
    </a>

  </nav>

</div>