.sidebar {
  width: 250px;
  height: 100vh;
  background: #1976d2;
  color: white;

  display: flex;
  flex-direction: column;
}

.logo {
  padding: 20px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.logo h2 {
  margin: 0;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 12px 15px;
  border-radius: 6px;
  margin-bottom: 5px;

  transition: 0.3s;
}

nav a:hover {
  background: rgba(255,255,255,0.2);
}

.active {
  background: rgba(255,255,255,0.3);
}