<div
  class="sidebar"
  [class.closed]="!isOpen"
>
  <div class="logo">

    @if (isOpen) {
      <h2>SmartPOS360</h2>
    }

  </div>

  <nav>

    <a
      routerLink="/dashboard"
      routerLinkActive="active"
    >
      <span class="icon">📊</span>

      @if (isOpen) {
        <span>{{'SIDEBAR.DASHBOARD' | translate}}</span>
      }
    </a>
<a
      routerLink="/productList"
      routerLinkActive="active"
    >
      <span class="icon">📦</span>

      @if (isOpen) {
        <span>{{'SIDEBAR.INVENTORY' | translate}}</span>
      }
    </a>
    <a
      routerLink="/pos"
      routerLinkActive="active"
    >
      <span class="icon">🛒</span>

      @if (isOpen) {
        <span>{{'SIDEBAR.POS' | translate}}</span>
      }
    </a>

    

    <a
      routerLink="/customers"
      routerLinkActive="active"
    >
      <span class="icon">👥</span>

      @if (isOpen) {
        <span>{{"SIDEBAR.CUSTOMERS" | translate}}</span>
      }
    </a>

    <a
      routerLink="/reports"
      routerLinkActive="active"
    >
      <span class="icon">📈</span>

      @if (isOpen) {
        <span>{{'SIDEBAR.REPORTS' | translate}}</span>
      }
    </a>

    <a
      routerLink="/settings"
      routerLinkActive="active"
    >
      <span class="icon">⚙️</span>

      @if (isOpen) {
        <span>{{'SIDEBAR.SETTINGS' | translate}}</span>
      }
    </a>

  </nav>
</div>