@use '../../../style/tokens' as t;

.footer {
  height: t.$footer-height;

  display: flex;
  align-items: center;
  justify-content: center;

  background: t.$background;
  border-top: 1px solid t.$border;
}