<div class="login-container">

  <mat-card
    class="login-card"
    appHighlight
  >

    <h1>Login</h1>

    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >

      <!-- EMAIL -->

      <mat-form-field
        appearance="outline"
        class="full-width"
      >

        <mat-label>Email</mat-label>

        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="Enter email"
        />

        <mat-icon matSuffix>
          email
        </mat-icon>

        <mat-error
          *ngIf="
            loginForm.get('email')
            ?.hasError('required')
          "
        >
          Email is required
        </mat-error>

        <mat-error
          *ngIf="
            loginForm.get('email')
            ?.hasError('email')
          "
        >
          Invalid email format
        </mat-error>

      </mat-form-field>

      <!-- PASSWORD -->

      <mat-form-field
        appearance="outline"
        class="full-width"
      >

        <mat-label>Password</mat-label>

        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Enter password"
        />

        <mat-icon matSuffix>
          lock
        </mat-icon>

        <mat-error
          *ngIf="
            loginForm.get('password')
            ?.hasError('required')
          "
        >
          Password is required
        </mat-error>

        <mat-error
          *ngIf="
            loginForm.get('password')
            ?.errors?.['passwordStrength']
          "
        >
          Must contain uppercase,
          number & special character
        </mat-error>

      </mat-form-field>

      <!-- REMEMBER ME -->

      <mat-checkbox

        [(ngModel)]="rememberMe"

        [ngModelOptions]="{
          standalone: true
        }"

        name="rememberMe"

      >
        Remember Me
      </mat-checkbox>

      <!-- BUTTON -->

      <button

        mat-raised-button

        color="primary"

        type="submit"

        class="full-width"

      >

        Login

      </button>

    </form>

  </mat-card>

</div>