@use '../../../style/tokens' as t;
@use '../../../style/mixins' as m;

.auth-layout {
  @include m.full-screen;
  display: flex;
}

.left-panel {
  flex: 1;
  background: linear-gradient(135deg, t.$primary, t.$primary-dark);
  @include m.center-flex;
  color: white;
}

.branding {
  text-align: center;
  padding: 30px;
}

.branding h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.branding p {
  font-size: 18px;
  opacity: 0.9;
}

.right-panel {
  flex: 1;
  @include m.center-flex;
  background: t.$background-light;
}

@media(max-width: 900px) {

  .left-panel {
    display: none;
  }

  .right-panel {
    flex: 100%;
  }

}